.modal__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #000000;
  /* opacity: 0.95; */
  color: white;
}
.Modal__post__container {
  height: 100vh;
  display: flex;
  place-items: center;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  top: 50%;
  left: 90%;
  cursor: pointer;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 10%;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .Modal__post__container {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .Modal__post__container {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .arrow-right {
    position: absolute;
    right: 5%;
  }
  .arrow-left {
    position: absolute;
    left: 5%;
  }
}

@media only screen and (max-width: 400px) {
  .arrow-right {
    position: absolute;
    top: 95%;
  }
  .arrow-left {
    position: absolute;

    top: 95%;
  }
  .Modal__post__container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
}
